[Desktop Entry]
Type=Application
Name=osu!lazer
Icon=osu-lazer
Comment=Rhythm is just a *click* away!
MimeType=application/x-osu-lazer-beatmap;application/x-osu-lazer-skin;x-scheme-handler/osu;
Exec=/usr/bin/osu-lazer %U
Categories=Game;
Terminal=false
StartupWMClass=osu!
StartupNotify=true
